<a href="https://colab.research.google.com/github/Rithik53/lets-s-upgrade/blob/master/ASSIGNMENT_DAY_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program to find the first 20 non-even prime natural numbers.

In [ ]:
count = 0
for i in range(3,74):
  for j in range(2,i): 
    if i % j==0: 
      break
  else: 
    print(i)
    count=count+1 
print("Count = ",count)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
Count =  20

2.Write a Python program to implement 15 functions of string.

In [ ]:
string = input("Enter the string:- ")
print(len(string))
print(string.upper())
print(string.isupper())
print(string.lower())
print(string.islower())
print(string.capitalize())
print(string.index('h'))
print(string.isalnum())
print(string.isalpha())
print(string.isdecimal())
print(string.isdigit())
print(string.find('o'))
print(string.endswith('t'))
print(string.count('l'))
print(string.encode())

Enter the string:- hello world
11
HELLO WORLD
False
hello world
True
Hello world
0
False
False
False
False
4
False
3
b'hello world'

3.Write a Python program to check if the given string is a Palindrome or Anagram or None of them. Display
the message accordingly to the user.

In [ ]:
string1 = input("Enter the string:- ")
string2 = input("Enter the string:- ")
if string1 == string2[::-1]:
  print("Its Palindrome")
elif sorted(string1)==sorted(string2):
  print("Its Anagram")
else:
  print("None of them")

Enter the string:- reviver
Enter the string:- reviver
Its Palindrome

4.Write a Python's user-defined function that removes all the additional characters from the string and
convert it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle @AIML Trainer",
then the output be "drdarshaningleaimltrainer".

In [ ]:
st = input("Enter the string:-")
def remove(s):
  s = s.lower()
  s = s.replace('@','')
  s = s.replace('.','')
  s = s.replace('!','')
  s = s.replace(',','')
  s = s.replace(' ','')
  print(s)

remove(st)

Enter the string:-Dr. Darshan Ingle @AIML Trainer
drdarshaningleaimltrainer